@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-dark bg-no-repeat bg-cover bg-fixed;
  
}

@layer base {
  
  @font-face {
  font-family: "netflixsans";
  font-weight:  black;
  src: url("/public/fonts/netflixsans-black.ttf") format("ttf")
}

}



#__next {
  @apply h-full;
}

html {
  @apply h-full;
  
}

#check-box-1:checked ~ .check-1{
  @apply text-opacity-100;
  
}